[Unit]
Description=pg2s3
Documentation=https://github.com/theandrew168/pg2s3
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5
User=pg2s3
Group=pg2s3
ExecStart=pg2s3 -conf /etc/pg2s3.conf

[Install]
WantedBy=multi-user.target
